/* FIELDSETS
---------------------------------------- */
fieldset {
  border: 0; }

/* ACTION BUTTONS
---------------------------------------- */
input.action {
  padding: 2px;
  font-size: 11px;
  font-family: Verdana, Tahoma, Sans-serif; }
input.action.action:hover, input.action.action:focus {
  cursor: pointer; }

/* FIELD FORMATING
---------------------------------------- */
form ul {
  list-style: none; }

.middleColumn {
  display: block;
  margin: 15px 10px 10px 0;
  background: #E9E9E9;
  padding: 4px;
  width: 306px;
  clear: left; }

#Sidebar .middleColumn {
  margin: 0 0 0 8px;
  display: inline; }

div.tab .field .middleColumn {
  clear: none !important;
  margin: 0 !important;
  width: auto; }

.middleColumn .middleColumn {
  margin-left: 0;
  margin-right: 0;
  padding: 0; }

.middleColumn .message {
  margin: 0; }

/* INPUT BOXS
---------------------------------------- */
input.text, textarea, select {
  padding: 2px;
  border: 1px solid #a7a7a7;
  color: #000;
  font-size: 12px;
  font-weight: bold;
  width: 300px; }

textarea {
  font-family: Verdana, Tahoma, sans-serif;
  font-size: 12px; }

/* SELECT DROPDOWN
---------------------------------------- */
select {
  width: auto; }

/* LABELS
---------------------------------------- */
.typography label {
  display: block;
  margin: 10px 0 -10px 0;
  color: #777;
  font-size: 12px; }

label.right {
  display: inline; }

/* SEARCH BOX
---------------------------------------- */
#Search {
  width: 105px; }

input#Search_Form_SearchForm_Search {
  width: 110px;
  padding: 3px;
  margin-left: -4px;
  font-size: 12px; }

#Sidebar input.action {
  font-size: 12px;
  float: right;
  padding: 1px;
  margin: -22px 10px 0 0; }

/* CHECKBOXES
---------------------------------------- */
ul.optionset {
  margin: 0;
  overflow: hidden; }
ul.optionset li {
  margin: 6px 0;
  clear: both; }
ul.optionset li input {
  float: left;
  margin: 0 6px; }
ul.optionset li label {
  margin: 0; }

/* MESSAGEBOXS
--------------------------------------------- */
.message {
  margin: 15px;
  padding: 5px;
  width: 92%;
  color: #979908;
  border: 4px solid #f7f8b4;
  background: #FFFFEA; }

span.middleColumn .message {
  margin: 4px 0 0 3px; }

.required {
  margin: 4px 0 0 3px;
  padding: 5px;
  width: 92%;
  color: #DC1313;
  border: 4px solid #ff7373;
  background: #FED0D0; }

p#Remember label {
  margin: -24px 0 0 20px;
  text-align: left; }
